/* * {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	padding: 1rem 0;
	background: #f9f9fb;
} */
body{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card {
	width: 300px;
	display: inline-block;
	margin: 1rem;
	border-radius: 4px;
	box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	transition: all .2s ease;
	background: #fff;
	position: relative;
	overflow: hidden;
}

.card:hover, .card.hover {
	transform: translateY(-4px);
	box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-content, .card.hover .card-content {
	box-shadow: inset 0 3px 0 0 #ccb65e;
	border-color: #ccb65e;
}

.card:hover .card-img .overlay, .card.hover .card-img .overlay {
	background-color: rgba(25, 29, 38, 0.85);
	transition: opacity .2s ease;
	opacity: 1;
}

.card-img {
	position: relative;
	height: 224px;
	width: 100%;
	background-color: #fff;
	transition: opacity .2s ease;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-img .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0;
}

.card-img .overlay .overlay-content {
	line-height: 224px;
	width: 100%;
	text-align: center;
	color: #fff;
}

.card-img .overlay .overlay-content a {
	color: #fff;
	padding: 0 2rem;
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.4);
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	cursor: pointer;
	text-decoration: none;
}

.card-img .overlay .overlay-content a:hover, .card-img .overlay .overlay-content a.hover {
	background: #ccb65e;
	border-color: #ccb65e;
}

.card-content {
	width: 100%;
	min-height: 104px;
	background-color: #fff;
	border-top: 1px solid #E9E9EB;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 1rem 2rem;
	transition: all .2s ease;
}

.card-content a {
	text-decoration: none;
	color: #202927;
}

.card-content h2, .card-content a h2 {
	font-size: 1rem;
	font-weight: 500;
}

.card-content p, .card-content a p {
	font-size: .8rem;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgba(32, 41, 28, 0.8);
}

.property-price {
    font-size: 26px;
    font-weight: 700;
    color: #4064d7;
    margin-bottom: 15px;
}

.label-inner .label {
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    border-radius: 30px;
    padding: 7px 18px;
    text-transform: uppercase;
    margin-bottom: 0px;
    line-height: 15px;
    vertical-align: top;
}
.label-inner {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 3;
}

/********************************/

.lni{
    font-size: 64px;
}

.bg{
    background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%) !important;
}

.regform{
    box-shadow: 0px 8px 9px 0px rgba(69, 69, 69, 0.25);
}

.sign{
    color: #000;
}

/***************/
.card-registration .select-input.form-control[readonly]:not([disabled]) {
	font-size: 1rem;
	line-height: 2.15;
	padding-left: .75em;
	padding-right: .75em;
  }
  .card-registration .select-arrow {
	top: 13px;
  }

/******************************/
.form-control {
	border-color: #d7d7d7;
	box-shadow: none;
}
.form-control:focus, .btn:focus {
	border-color: #a177ff;
	box-shadow: 0 0 8px #c2a8ff;
}
.contact-form {
	width: 500px;   
	margin: 0 auto;
	/* padding: 40px 0; */
}
.contact-form form {
	background: #fff;
	/* padding: 40px; */
	border-radius: 6px;
}
.contact-form h1 {
	text-align: center;
	font-size: 50px;
	margin: 0 0 15px;
}
.contact-form .form-group {
	margin-bottom: 20px;
}
.contact-form .form-control, .contact-form .btn  {        
	border-radius: 2px;
	min-height: 40px;
	transition: all 0.5s;
	outline: none;
}
.contact-form .btn {
	background: #a177ff;
	font-size: 16px;
	min-height: 50px;
	border: none;
}
.contact-form .btn:hover, .contact-form .btn:focus {
	background: #8048ff;
	outline: none;
}
.contact-form .btn i {
	margin-right: 5px;
}
.contact-form label {
	color: #bbb;
	font-weight: normal;
}
.contact-form textarea {
	resize: vertical;
}
.hint-text {
	font-size: 15px;
	text-align: center;
	padding-bottom: 25px;
	opacity: 0.8;
}

#landlordac{
	border-bottom: red !important;
	/* font-size: 50px; */
}